	/********Created by Liwei*********/
	/********Date:2014.7.23*********/
	body {
		text-align:center;
		background-color:#bfbfbf;
		font-size: 12px;
		}
	a {
		text-decoration:none;
		color:white;
		}
	a:hover {
		color: #FF3030;
	}
	.container {
		margin:0 auto;
		width:1003px;	
		background-color: #e6e6e6;	
		}
	/**********Company logo*************/
	.logo {
		margin-top:-10px;
		padding:0;
		height:77px;
		width: 1003px;
		background-color:white;
		}
	.logo-img {
		float:left;
		margin-left:48px;
		margin-top: 11px;	
		}
	h1 {
		float:left;
		font-size: 22px;
		margin-left:32px;
		margin-top: 23px;
		font-weight:bold;
		font-family:Verdana, Geneva, sans-serif;
		}
	/***********Logo's right,which is company's contact***************/
	.contact {
		float:right;
		margin-right: 22px;
		margin-top: 6px;
		}
	.contact-right {
		list-style-type:none;
		text-align:right;
		}
	.tel {
		padding-left: 25px;
		background: url(../image/tell.gif) no-repeat;
		background-position: 0 -3px;
	}
	.tel a {
		color: #000;
	}
	.tel a:hover {
		color: #FF3030;
	}
	.link1 {
		color:#699a1a;
		line-height: 20px;
		text-decoration: underline;
		background: url(../image/mail.gif) no-repeat;
		padding-left: 24px;
		padding-top: 6px;
		background-position: 0 4px;
		}
	.link2 {
		color:#08a3e3;
		background: url(../image/redove.gif) no-repeat;
		padding-left: 25px;
		padding-top: 6px;
		line-height: 20px;
		background-position: 0 2px;
		text-decoration: underline;
		}
	.link3 {
		color:#bb103d;
		background: url(../image/twiter.gif) no-repeat;
		padding-left: 19px;
		padding-top: 6px;
		line-height: 20px;
		background-position: 0 4px;
		text-decoration: underline;
		}
	.content-container {
		width:959px;
		height:1079px;
		margin-left:22px;
		margin-top: -38px;
		background-color:white;
		position:absolute;
		top:151px;
		}
	/************The navigation bar***************/
	/****I didn't use background image,I used CSS to control the style****/
	.header {
		height: 36px;
		width: 1003px;
		background-color: #a62720;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		margin:0 auto;
		}
	.header a {
		display:block;
		font-weight: bold;
		color: #FFF;
		text-decoration: none;
		line-height: 36px;
		}
	ul.menu {
		width: 1003px;
		height: 36px;
		margin: 0px;
		padding-left: 17px;
		}
	ul.menu li{
		float: left; 
		margin-right:10px;
		list-style: none;
		}
	.menu li span {
		padding-left:17px;
		padding-right:24px;
		}
	.header a:hover {
		background: url(../image/right-pic.jpg) right 5px no-repeat;
		color: #000;
		}
	.header a:hover span {
		color: #000;
		background: url(../image/left-pic.jpg) no-repeat left 6px;
		display:block;
		}
	/*********There is a big area to put something about Zenith *********/
	.top-about {
		width: 959px;
		height: 216px;
	}
	/*********It's an image*************/
	.about-left {
		float:left;
		width:369px;
		height:216px;
		display:inline;
		text-align:center;
		} 
		/*****There is some introduction about Zenith******/
	.about-right {
		float:left;
		width:586px;
		height:216px;
		display:inline;
		text-align:center;
		}
	div.title {
		float:left;
		color:#a62720;		
		font-family:Verdana, Geneva, sans-serif;
		font-size:18px;
		margin-top:18px;
		margin-bottom:8px;
		}
	div.about-content {
		clear:both;
		float:left;
		margin-right: 76px;
		}
	.about-content a {
		color:#900;
		text-decoration:underline;
		}
	.about-content p {
		font-size: 14px;
		text-align:left;
		line-height: 16px;	
		font-family:Arial, Helvetica, sans-serif;
	}
	.text {
		margin-left:250px;
		margin-top: -12px;
		background: url(../image/9.jpg) no-repeat;
		background-position: 0 -1px;
		padding-bottom: 2px;
		padding-left: 22px;
		}
	.line {
		margin:4px 20px 10px 0;
		color: #cccccc;
		}
		/******Product carousel area, this area display product information***********/
	div.mid {
		clear:both;
		width: 931px;
		height:180px;	
		background: url(../image/background.png) no-repeat;
		background-size: 931px 180px;
		margin:0 14px 0 14px;
		border-radius:10px;
		font-family:Arial, Helvetica, sans-serif;
		}
	.img-box {
		float:left;
		margin-left:47px;
		margin-top:32px;
		}
	.left {
		background: url(../image/left.png) no-repeat;
		background-size: 26px 28px;
		position: absolute;
		margin-left: 14px;
		margin-top: 58px;
		line-height: 40px;
		padding-right: 17px;
		width: 25px;
		height: 27px;
		}
	.right {
		background: url(../image/right.png) no-repeat;
		float: right;
		margin-top: -91px;
		margin-right: -6px;
		padding-right: 16px;
		padding-bottom: 12px;
		width: 25px;
		height: 26px;
		}
	.mid a {
		text-align:right;
		color:#a5261f;
		background-position:270px;
		display:block;
		text-decoration:underline;
		margin-right:20px;
		margin-top: -10px;
		}
	.mid p {
		text-align:left;
		margin-top: 28px;
	}
	.mid-left {
		float:left;
		width:270px;
		height:133px;
		margin-left:48px;
		margin-top: 15px;
		border:white 1px solid;	
		background: url(../image/crusher-one.png) no-repeat;
		background-size: 422px 160px;	
		border-radius:10px;
		}
	.mid a:hover {
		color: blue;
	}
	.mid-mid {
		float:left;
		width:270px;
		height:133px;
		margin-left:13px;
		margin-top: 15px;
		border:white 1px solid;
		background: url(../image/crusher-one.png) no-repeat;
		background-size: 422px 160px;	
		border-radius:10px
		}
	.mid-right {
		float:left;
		width:270px;
		height:133px;
		margin-left:13px;
		margin-right:40px;
		margin-top: 15px;
		border:white 1px solid;
		background: url(../image/crusher-one.png) no-repeat;
		background-size: 422px 160px;	
		border-radius:10px;
		}
	/*******The what's New part***********/
	.tip-left {
		float:left;
		width:226px;
		height:283px;
		margin-left:26px;
		margin-top: -5px;
		border-radius: 0 10px 0 0;
		border:#cbc9ca 1px solid;
		}	
	.toplink{
		color: #afafaf;
		text-decoration: underline;
	}
	.lowlink {
		background:url(../image/9.jpg) no-repeat;
		background-position:73px 2px; 
		display:block;
		margin-right:52px;
		text-align:right;
		text-decoration:underline;
		color:#3160a4;
	}
	.tip-left-title {
		background-color:#d9d7d8;
		height:32px;
		border-radius: 0 10px 0 0;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bolder;
		line-height:33px;
		font-size:14px;
		color:#858585;
		}
	.tip-list {
		list-style-type:none;
		float:left;
		margin-left:-30px;
		line-height:22px;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		color: #5f5f5f;
		}
	.tip-list li {
		background: url(../image/dot.gif) no-repeat;
		padding-left: 15px;
		background-position: 0 7px;
		}
	.tip-right {
		float:left;
		width:663px;
		height:643px;
		margin-left: 23px;
		background-color:#f1f1f1;
		}
	.top-line {
		float:left;
		width:663px;
		height:7px;
		background-color:#a62720;
		}
	/********The vedio part***********/
	.vedio-container {
		clear:both;
		float:left;
		width:226px;
		height:195px;
		margin-top:53px;		
		background:url(../image/vedio.png) no-repeat;
		background-size:226px 195px;
		}
	.vedio-container img {
		margin-top: -30px;
	}
	/***********Show different product information in list form***************/
	/***********This area is divided into 8 different regions****************/
	.tip-right-list ul{
		list-style-type:none;
		padding-top:10px;
		padding-left:10px;
		}
	.tip-right-list ul li {
		width:317px;
		height:138px;
		float:left;
		border:1px solid #dcdadb;
		background-color:#FFF;
		margin-top:10px;
		}
	.b1 {
		 margin-right: 10px;
	} 
	.tip-right-list img {
		float:left;
		margin-right: 6px;
		}
	.tip-right-list h2 {
		font-weight:bolder;
		color: #323232;
		font-size:14px;
		text-align:left;
		margin-left: 6px;
		font-family:Arial, Helvetica, sans-serif;
		}
	.prd-intr {
		text-align:left;
		font-family: Arial, Helvetica, sans-serif;
		}
	.tip-right-list a {
		background-image:url(../image/9.jpg);
		background-repeat:no-repeat;
		background-position:180px 0;
		color:#2e61a2;
		display:block;
		margin-right:50px;
		line-height: 18px;
		text-align:right;
		text-decoration:underline;
		}
	.tip-right-list a:hover {
		color: red;
	}
	/**********The webpage's foot***************/
	.footer {
		background-color:#a62720;
		line-height:71px;	
		margin-top:1065px;
		width: 1003px;
		height: 56px;
		}