/* CSS Document */
*{
	margin:0px;
	margin:0px;
	}
body{
	margin:0px;
	margin:0px;
	background-color:#CCC;
	font-family:Arial, Helvetica, sans-serif;}
#container{
	width:1002px;
	height:1261px;
	margin:0 auto;
	background-color:#e6e6e6;
	}
#top{
	width:1002px;
	height:78px;
	background-color:#FFF;}
	
.left{
	float:left;
	width:500px;
	}
.left img{
	margin-left:50px;
	margin-top:12px;
	}
.left h2{
	font-weight:bold;
	float:right;
	width:320px;
	margin-top:26px;
	margin-right:50px;
	
	}
.right{
	float:right;
	margin-top:12px;
	margin-right:25px;
	font-size:12px;
	}
.right span{
	background:url(../image/phone.png) left no-repeat ;
	padding-left:20px;}
.right ul{
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:right;
	}
.email{
	background:url(../image/email.png) left no-repeat;
	padding-left:25px;
	color:#5f9e11;}
.S{
	background:url(../image/S.png) left no-repeat;
	padding-left:25px;
	padding-right:10px;
	color:#07a5e4;}
.B{
	background:url(../image/B.png) left no-repeat;
	padding-left:25px;
	color:#b5103b;}
/*.right ul li{
	padding-top:-1px;}*/
.right ul li img{
	padding-left:5px;
	padding-right:5px;
	}
/*.B{
	display:inline;}*/
.clear{
	clear:both;}
/****************************************nav**************/
.nav{
    width:1002px;
	height:32px;
    background:#a62720;
    font-size:14px;
    /*line-height:normal;*/
	}
/*#change,.nav a:hover{
	background:url(../image/barr22.jpg) no-repeat right 5px;
	color:#000;
	}*/
.nav ul{
	margin:0px;
	padding:0px;
	list-style:none;}
.nav li{
	float:left;
	/*margin-top:5px;*/
	/* padding:0 0 0 9px;*/
	margin-left:22px;}
.nav a{
	display:block;
/*	padding:5px 15px;
	margin-left:35px;*/
	text-decoration:none;
	color:#FFF;
	/*text-align:right;*/
	/*font-size:15px;*/
	font-weight:bolder;
	line-height:35px;
	/*background:url(../image/71.jpg)  no-repeat right top;*/
	 }
.nav li a span{
	display:block;
	padding-left:24px;
	padding-right:23px;
	/*background:url(../image/61.jpg) no-repeat left top;
	*/
	}
#change ,.nav  a:hover{
	/*display:block;*/
	color:#000;
	background-color:#FFF;
	/*border-radius:5px;*/
	background:url(../image/barr22.jpg) no-repeat right 7px;
	}
#change a,.nav li a:hover span{
	display:block;
	color:#000;
	/*padding-top:6px;*/
	background:url(../image/barl.png) left 7px no-repeat ;
	
	 /*padding-bottom:6px;*/
	}
	/***********************************************content****************8*/

.content{
	width:958px;
	height:1074px;
	background-color:#FFF;
	margin:0 auto;}	
.room{
	margin:2px;
	padding:0px;
	}
.room img{
	margin-left:46px;
	margin-top:35px;}
.wenzi{
	float:right;
	width:510px;
	font-size:14px;
	margin-left:20px;
	margin-right:30px;
	line-height:15px;
	}
.wenzi span{
	display:block;
	font-size:24px;
	color:#a6271e;
	padding-top:30px;
	padding-bottom:-20px;
	height:15px;
	width:510px;
	}
.wenzi p{
	font-size:14px;
	margin-top:5px;
	color:#000;
	margin-bottom:-9px;}
.wenzi img{
	margin-left:5px;
	margin-top:8px;
	/*margin-bottom:8px;*/}
.button1{
	text-align:center;
/*	padding-top:-65px;*/
	}
.button img{
	vertical-align:text-top;}
.button1 a{
	vertical-align:text-top;
	padding-top:-85px;
	background:url(../image/luosi.png) left no-repeat;
	padding-left:25px;
	}
.middle{
	background-color:#d9d7d8;
	width:910px;
	height:154px;
	border-radius:10px;
	margin:34px auto;
	background:url(../image/scroll.png) no-repeat top;}
.middle-a{
	margin-right:10px;
	/*background-color:#e3e3e3;*/
	width:270px;
	height:136px;
	border-radius:10px;
	float:left;
	}
.middle-a img{
	display:block;
	float:left;
	margin-top:15px;
	margin-left:15px;
	padding-right:5px;}
.middle-a p{
	font-size:13px;
	letter-spacing:3px
	line-height:15px;
	margin-bottom:4px;
	padding-top:25px;
	padding-right:8px;
	/*margin-left:5px;*/
	}
.middle-b{
		margin-right:0px;}
#more{
	text-align:right;
	margin-right:10px;
	margin-bottom:10px;
	font-size:12px;
	color:#a72620;}
#more a{
	color:#a6281c;}
	
#san{
	width:830px;
	height:136px;
	padding-top:10px;
	margin:0 auto;
	}
#direction{
	/*width:20px;
	height:20px;*/
	float:left;
	/*margin:59px 10px;*/
	padding-top:64px;
	padding-left:5px;} 
#direction_1{
	clear:both;
	float:right;
	margin:-80px 9px;} 
.bottom{
	width:900px;
	height:648px;
	margin:0 auto;
	/*border:1px solid #000;*/
	padding-top:3px;
	}
.bottom-left{
	width:226px;
	height:530px;
	margin-top:-3px;
	padding-top:0px;
	float:left;}
.left-bar{
	/*width:226px;
	height:300px;*/
	/*border:1px solid #cbc9ca;*/
	}
.left-top{
	text-align:center;
	background-color:#d9d7d8;
	color:#5e5e5e;
	padding-top:4px;
	padding-bottom:4px;
	background:url(../image/beijing2.jpg) no-repeat;
	}
.left-bottom{
	width:222px;
	height:250px;
	margin:0;
	padding:0;
	border:1px solid #cbc9ca;
	/*text-align:left;*/
	}
.left-bottom ul{
	list-style:none;
	/*text-align:left;*/
	
	}
.left-bottom ul li{
	margin:5px -25px;
	
    /* text-align:left;*/
	}
/*.left-bottom img{
	margin-left:-31px;
	padding-right:8px;
	}*/
.left-bottom a{
	color:#878787;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	/*text-align:left;*/
	background:url(../image/fangxing.png) left no-repeat;
	/*line-height:0.1e;*/
	padding-left:20px;
	display:inline-block;
	}
/*.left-buttom a:visit{
	color:#639;}*/
.dayu{
	width:226px;
	height:40px;
	background:url(../image/sound1.png) no-repeat;
	/*background-color:#8d8d8d;*/
	color:#FFF;
	text-transform:uppercase;
	margin-top:28px;
	text-align:center;
	border-radius:5px;
	font-size:13px;
	padding-bottom:-5px}
.dayu p{
	padding-top:8px;}
.dayu img{
	float:right;
	margin-top:-14px;
	margin-right:6px;
	}
.button{
	float:right;
	margin-right:45px;
	}
/*.button img{
	margin-right:5px;
	padding-top:3px;
	}*/
.button a{
	margin-top:13px;
	vertical-align:bottom;
	background:url(../image/luosi.png) left no-repeat;
	padding-left:25px;
	}
.vidio{
	margin-top:-7px;
	padding-top:-1px;}
.bottom-right{
	margin-top:-3px;
	padding:0px;
	float:right;
	/*border:1px solid #000;*/
	width:650px;
	height:670px;}
.hr{
	width:650px;
	height:4px;
	background-color:#a11a14;}
	
.product{
	width:649px;
	height:665px;
	margin:0px;
	padding:0px;
	background-color:#f1f1f1;
	/*border:1px solid #096;*/
	}
	
	
	
	/************this is product info*********/
	
.right-pd{
	list-style:none;
	width:700px;
	float:left;}
.right-pd li{
	}
.product-a{
	list-style:none;
	float:left;
	width:260px;
	height:137px;
	border:1px solid #cdcdcd;
	margin-right:43px;
	margin-left:-26px;
	background-color:#FFF;
	margin-top:16px;
	}
.product-a img{
	margin-top:20px;
	margin-left:-35px;
	padding-right:8px;}
.product-a li{
	display:block;
	/*float:left;*/}
.faust{
	width:180px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-left:5px;
	margin-top:-99px;
	float:right;}
.faust h3{
	/*margin-top:15px;*/
	margin-bottom:4px;}
.faust p{
	text-align:left;
	font-size:13px;
	line-height:18px;
	word-spacing:1px;
	margin-bottom:5px;}
.faust a{
	clear:left;
	float:right;
	background:url(../image/luosi.png) left no-repeat;
	padding-left:22px;
	text-align:right;
	margin-right:40px;}
/*.footer{
	width:1002px;
	height:62px;
	border-bottom:1px solid #a62720;
	float:left;
	margin-top:-2px;
	}
.img1{
	float:left;}
.footer-mid{
	width:758px;
	height:38px;
	float:left;
	background-color:#FFF;*/
	/*border-top:1px solid #fff;*/
/*	}
.img2{
	float:right;}
.footer1{
	margin-top:-6px;
	padding-top:-2px;*/
/*	clear:both;*/
	/*width:1002px;
	height:75px;*/
/*	height:50px;*/
	/*background-color:#a62720;*/
	/*z-index:0px;
	z-index:-1px;}*/
/*.footer1 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	margin-top:8px;
	padding-bottom:25px;*/
	/*position:absolute;
	top:1224px;
	right:282px;}*/
/*#paf{
	margin-bottom:-5px;
	padding-bottom::-5px;
	}*/
.footer{
	width:1002px;
	height:70px;
	/*border:1px solid #fff;*/
	background:url(../image/line0.jpg) left bottom;
}
.footer p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	/*margin-left:45px;*/
	margin-top:-1px;
	padding-top:42px}