@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	list-style:none;
	}
body {
	margin: 0 auto;
	background: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/* head */
.container {
	width:1003px;
	height: 1232px;
	margin: 0 auto;
	background: #e6e6e6;
}
.head_title {
	background-color: #fff;
	height: 49px;
	padding-top: 13px;
	padding-bottom:15px;
	width:1003px;
   
}
h3.logo {
	float: left;
	width: 52px;
	height: 49px;
	background: url(images/logo.jpg) 0 0 no-repeat;
	text-indent: -9999px;
	margin-left: 51px;
	display:inline;
	 
}
.head h1 {
	float: left;
	padding-left: 37px;
	font-size: 26px;
	line-height: 49px;
	display:inline;

}
.contact {
	display:inline;
	float: left;
	margin-left:338px;
	text-align: right;
	
}
.contact a:hover {
	color: #F0F;
}
.tel p {
	padding-left: 23px;
	background: url(images/tel.png) no-repeat;
	line-height: 16px;
}
.tel span {
	font-weight: bold;
}
.mail a {
	background: url(images/mail.png) no-repeat;
	padding-left: 22px;
	line-height: 13px;
	color: #5f9e11;
}
.redevo {
	background: url(images/redevo.png) no-repeat;
	/*float: left;*/
	margin-left: 67px;
	padding-left: 22px;
	color: #07a5e6;
	
	
}
.twitter {
	background: url(images/twitter.png) no-repeat;
	padding-left: 18px;
	/*float: left;*/
	color: #ba0f3b;
	margin-left: 4px;
	display:inline-block;
	
}
/* nav */

.nav {
	height: 36px;
	width: 1003px;
	background-color: #a62720;
	font-size: 14px;
}
#home, .nav a:hover {
	background: url(images/bg_right.jpg) no-repeat right 6px;
	color: #000;
}
#home a, .nav a:hover span {
	color: #000;
	background: url(images/bg_left.jpg) no-repeat left 6px;
}
#home a {
	display: block;
	font-weight: bold;
}
.nav ul {
	width: 1003px;
	height: 36px;
	margin: 0px;
	padding-left: 22px;
}
.nav ul li {
	float: left;
	margin-right: 10px;
}
.nav a, .nav span {
	display: block;
}
.nav span {
	padding-left: 23px;
	padding-right: 24px;
}
.nav a {
	color: #FFF;
	text-decoration: none;
	line-height: 36px;
}

.body{
	width:1003px;
	height:1063px;
	margin:0 auto;
	}
.wapper_left{
	background:url(images/wrapper_left.jpg) no-repeat 0 0;
	height:1063px;
	width:22px;
	float:left;
	}
.wapper_right{
	background:url(images/wrapper_right.jpg) no-repeat 0 0;
		float:right;
		height:1063px;
		width:22px;
		}
.wapper {
	float:left;
	width: 959px;
	height: 1063px;
	margin: 0 auto;
	background-color: #FFF;
}

.company {
	height: 215px;
}
.zenith {
	float: left;
	margin: 31px 0px 36px 46px;
}
.company_right {
	width: 507px;
	float: left;
	margin-top: 18px;
	margin-left: 45px;
}
.company h2 {
	color: #a52921;
}
.hr {
	padding-top: 12px;
	padding-bottom: 12px;
}
.content {
	/*padding-top: 15px;*/
	padding-bottom: 9px;
}
.detail {
	background: url(images/mark.jpg) no-repeat;
	display: block;
	height: 20px;
	color: #a5261f;
	padding-left: 25px;
	margin-left: 208px;
	margin-top: -8px;
	margin-bottom: 22px;
}
a.detail:hover {
	color: #000;
}
/*crusher*/
.crusher {
	width: 931px;
	height: 166px;
	background: url(images/mid_bg.jpg) no-repeat 0 0;
	margin: 0 auto;
}
.left {
	clear: both;
	float: left;
	margin-top: 56px;
	margin-left: 13px;
}
.crusher ul li {
	height: 132px;
	width: 268px;
	float: left;
	margin-top: 12px;
	margin-left: 10px;
}
.jaw_crusher {
	float: left;
     margin-left:10px;
	 margin-top:12px;
}
.description {
	height: 75px;
	width: 148px;
	float: left;
	margin-top:18px;
	margin-left:12px;
}
.con_crusher{
	float:left;
	margin-left:18px;
	margin-top:8px;}
.hcs{
	float:left;
	margin-left:15px;
	margin-top:6px;
	}
	
.mark {
	color: #a5261f;
	padding-left: 56px;
	margin-top:12px;
}
a.mark:hover {
	color: #000;
}
.right {
	float: right;
	margin-top:56px;
	margin-right:17px;
}
.shadow {
	float: left;
	margin-top:6px;
	margin-right:: 13px;
}
/*  about_left  */
.about_left {
	width: 271px;
	height: 668px;
	float: left;
}
.left_new {
	float: left;
	height: 284px;
	width: 223px;
	margin: 12px 21px 20px 10px;
	border: 1px solid #cbc9ca;
	border-radius: 0 2px 0 0;
}
.new {
	background: url(images/new_bg.png) no-repeat;/*#d9d7d8;*/
	color: #5f5f5f;
	text-align: center;
	line-height: 34px;
	width: 225px;
	margin-top:-1px;
	margin-left:-1px;
}
.left_new ul li span {
	word-wrap: break-word;
	overflow: hidden;
}
.left_new ul {
	padding-left: 23px;
	margin-top: 1px;
	width:166px;
}
.left_new ul li {
	list-style-image: url(images/list-style.png);
	padding-top: 8px;
	padding-left: 4px;
}
.left_new ul li a {
	color: #7b7a7b;
}
.left_new ul li a:hover {
	color: #000;
}
.view {
	background: url(images/mark.jpg) no-repeat;
	color: #3061a4;
	display: block;
	margin-left: 82px;
	margin-top: 20px;
	padding-left: 24px;
	line-height: 20px;
	margin-bottom: 16px;
}
a.view:hover {
	color: #000;
}
.left_radio {
	float: left;
	width: 227px;
	margin-left: 10px;
}
/*right_machine*/

.right_machine {
	background: url(images/red_bar.png) repeat-x;
	background-color: #f1f1f1;
	float: right;
	margin-right: 16px;
	width: 664px;
	height: 645px;
	margin-top: 12px;
	margin-left:-16px;
}
.sort {
	float: left;
	margin-left: 5px;
	margin-right: 20px;
	margin-top:3px;
}
.right_machine ul {
	padding-top: 31px;
	padding-left: 10px;
}
.right_machine ul li {
	background: #FFF;
	border: #dcdadb 1px solid;
	float: left;
	height: 130px;
	margin: -8px 8px -3px 0;
	padding-top: -3px;
	width: 317px;
}
.faucet {
	margin-top: 15px;
	margin-left: 32px;
	text-align: left;
	margin-bottom: 7px;
}
.right_machine p {
	padding-left: 32px;
}
.right_machine a {
	background: url(images/mark.jpg) no-repeat;
	color: #3562a6;
	display: block;
	font-size: 12px;
	margin-left: 175px;
	margin-top: 13px;
	padding-left: 25px;
	line-height: 20px;
}
.right_machine a:hover {
	color: #000;
}
/* footer*/
.footer {
	clear: both;
	background-color: #a62720;
	width: 1003px;
	height: 56px;
	margin: 0 auto;
}
.footer p {
	color: #010002;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 20px;
	line-height: 10px;
}
