@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	list-style::none;
	}
body{
	font-size:12px;
	color:#000;
	width:1003px;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	}
#container{
	height:1206px;
	background:#e3e3e3;
	}
a{
	color:#b5103a;
	}	
a:hover{
	color:#06F;
	}
/**header**/	
.header{
	height:77px;
	background:#FFF;
	}
/*.logo{
	margin-left:51px;
	margin-top:13px;
	float:left;
	}*/
.logo{
	margin-left:51px;
	margin-top:13px;
	width:52px;
	height:49px;
	background:url(images/logo.jpg) 0 0 no-repeat;
	text-indent:-9999px;
	float:left;
	}	
.header h1{
	line-height:43px;
	font-size:26px;
	float:left;
	margin-left:38px;
	margin-top:13px;
	}
.social{
	width:200px;
	height:55px;
	float:right;
	text-align:right;
	margin-right:18px;
	font-size:10px;
	margin-top:8px;
    }
.social ul{
	padding:7px;
	}
#abe{
	background:url(images/phone.gif) no-repeat 0 0;
	margin-left:0px;
	list-style:none;}
#info{
	background:url(images/email.gif) no-repeat 0 0;
	margin-left:38px;
	list-style:none;
	}
#info a:link{
	color:#659a18;
	}
#info a:visited{
	color:#659a18;
	}
#red{
	list-style:none;
	margin-left:64px;
	background:url(images/redevo.gif) no-repeat 0 0;
	float:left;}
#red span{
	margin-left:24px;
	}
#red a:link{
	color:#619a17;
	}
#red a:visited{
	color:#619a17;
	}
#twitter{
	list-style:none;
	background:url(images/twitter.gif) no-repeat 0 0;
	margin-left:132px;}
/**header**/
/**nav**/
.nav{
	height:36px;
	background-color:#a62720;
	font-size:14px;
	}
#home a,.nav a:hover span{
	color: #000;
	background: url(images/barl.jpg) no-repeat left 6px;
	display:block;
	}
#home,.nav a:hover{
	background: url(images/barr.jpg) right 6px no-repeat;
	color: #000;
	}

.nav ul{
	list-style-type: none;
	width: 1003px;
	height: 36px;
	margin: 0px;
	padding-left: 22px;
	}
.nav ul li{
	float: left; 
	margin-right:10px;
	}
.nav span{
	padding-left:23px;
	padding-right:24px;
	}
.nav a{
	display:block;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	line-height: 36px;
	}
/**nav**/	
.wrapper{
	height:1063px;
	width:959px;
	background-color:#FFF;
	margin-left:22px;
	}
/**about**/	
.about{
	height:215px;
	}
.about img{
	margin-left:47px;
	margin-top:31px;
	float:left;
	}
.aboutright{
	width:499px;
	height:192px;
	margin-left:44px;
	margin-top:23px;
	float:left;
	}
h2{
	color:#a7271e;
}
#line{
	margin:0px;}
#para{
	padding-top:5px;}	
.details{
	background:url(images/luosi.jpg) no-repeat 0 0;
	margin-left:208px;
	margin-top:3px;
	height:18px;}
.details a{
	padding-left:25px;}	
/**about**/	
/**crusher**/
.crusher{
	height:153px;
	background:url(images/flow.jpg) no-repeat 15px 0px;}
#leftarrow{
	margin-left:27px;
	margin-top:59px;
	float:left;
	}
.block{
	margin:11px 2px 0 8px;
	float:left;
	width:270px;
	height:132px;
	}
#jawcrusher{
	margin-left:14px;
	margin-top:17px;
	float:left;
	}
#hpcconecrusher{
	margin-left:18px;
	margin-top:13px;
	float:left;}
#cscrusher{
	margin-left:13px;
	margin-top:9px;
	float:left;}
.words{
	margin-left:120px;
	padding-top:30px;
	margin-right:8px;
}	
.moredetail{
	padding-left:164px;
	padding-top:6px;}
#rightarrow{
	margin-top:59px;
	margin-left:8px;}
/**bottom**/	
.bottom{
	width:931px;
	height:669px;
	margin-left:15px;
	background:url(images/double%20fillet.gif) no-repeat 0 0;
	}
.left{
	clear:both;
	float:left;
	margin-top:26px;
	margin-left:12px;
	width:225px;
	height:530px;
	background:url(images/single%20fillet.gif) no-repeat 0 0;
	}
#what{
	font-size:14px;
	padding-top:9px;
	text-align:center;
	color:#5f5f5f;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
.new{
	margin-top:6px;
	height:253px;
	border:#cbc9ca solid 1px;}
.new ul{
	list-style:none;
	list-style-image:url(images/sqare.gif);
	padding-left:25px;
	padding-top:3px;}
.new ul li{
	padding-top:9px;}
.new ul li a:link{
	color:#5f5f5f;}
.new ul li a:visited{
	color:#5f5f5f;}
.detail{
	background:url(images/luosi.jpg) no-repeat 0 0px;;;
	margin-left:83px;
	margin-top:16px;
	height:17px;}
.detail a{
	padding-left:22px;
	color:#3261a5;
	}
.left img{
	margin-top:20px;}
#right{
	width:663px;
	height:643px;
	margin-left:18px;
	margin-top:26px;
	float:left;
	background:url(images/redline.gif) #f1f1f1 no-repeat;
    }
#right ul{
	clear:both;
	list-style:none;
	padding-top:30px;
	width:663px;
	}
#right ul li{
	width:316px;
	height:137px;
	border:#cdcdcd solid 1px;
	margin-left:9px;
	margin-bottom:9px;
	float:left;}
#vibratingfeeder{
	background:url(images/machine/vibratingfeeder.gif);}
#hpccrusher{
	background:url(images/machine/hpccrusher.gif);}
#csconecrusher{
	background:url(images/machine/csconecrusher.gif);}	
#hammercrusher{
	background:url(images/machine/hammercrusher.gif);}
#hpccone{
	background:url(images/machine/hpccone.gif);}
#vibrating-screen{
	background:url(images/machine/vibrating-screen.gif);}
#pew{
	background:url(images/machine/pewjawcrusher.gif);}	
#verticalshaftimpactcrusher{
	background:url(images/machine/verticalshaftimpactcrusher.gif);}
h3{
	color:#333333;
	margin-left:132px;
	margin-top:18px;}
.material{
	margin-top:12px;
	margin-left:132px;
	margin-right:15px;
	}	
.dett{
	background:url(images/gear.gif) no-repeat;
	width:97px;
	height:18px;
	float:right;
	margin-right:45px;
	margin-top:7px;
}
		
.dett a{
	padding-left:22px;
	color:#3261a5;}	
.footer{
	height:56px;
	background:url(images/footer.jpg);}
.footer p{
	padding-left:173px;
	padding-top:28px;}	




